.typeRacer {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #283149;
  }
  
  .typeRacer .wordOutput {
    width: 100%;
    height: 250px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    background: #111727;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .typeRacer .wordOutput p {
    font-size: 26px;
    line-height: 1;
  }
  
  .time {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f73859;
    color: #fff;
    display: flex;
  }
  
  .typeRacer .time p {
    margin: auto;
    font-size: 60px;
    line-height: 1;
  }